{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/style.css' %}" >
    <title>{{Title}}</title>
</head>
<body>
    <div>
        {% for m in menu %}
        <ul>
            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        </ul>
        {% endfor %}
        <li><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}"> Войти</a></li>
        <a href="admin/">Администрация</a>
    </div>
    {% show_categories %}
{% block content %}
{% endblock %}
</body>
</html>
